@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main-content {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar .container {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar .header-links a {
    color: #f9faf8;
    text-decoration: none;
}

.navbar .header-links ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.navbar, .landing-hero-section {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
}

.landing-hero-section .container {
    display: flex;
    height: 500px;
    align-items: center;
}

.landing-hero-section .hero-left {
    padding-right: 50px;
}

.hero-image img {
    max-width: 500px;
}

.hero-left .hero-main {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero-left .hero-sub {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    padding-bottom: 10px;
}

.hero-left button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    height: 35px;
    width: 125px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.image-gallery .image-subtext {
    max-width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.illustration img {
    height: 200px;
    width: 200px;
    object-fit: none;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.info-header {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    text-align: center;
    padding: 50px;
}

.image-subtext p {
    color: #262d36;
    padding: 10px 30px;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-section .container {
    padding: 100px 200px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
}

.quote-source {
    font-size: 24px;
    color: #1f2937;
    font-weight: 700;
    text-align: right;
}

.signup-section {
    padding: 100px 50px;
}

.signup-container {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.signup-call {
    font-size: 24px;
    font-weight: 700;
}

.signup-description {
    border-radius: 10px;
    color: #f9faf8;
}

.signup-section button {
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    width: 200px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    flex-shrink: 0;
    padding: 40px;
}